# VSCode config (kalau gak pengen dishare ke repo)
.vscode/

# Lockfile backup (optional, kalo pakai tsconfig.json.bak)
*.bak

# Astro DB local file (if exists, just in case)
db/astro.sqlite

# build output
.vercel/
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# playwright
playwright-report/
test-results/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
