---
import starpodConfig from '../../starpod.config';

const { hosts } = starpodConfig;

// GCS public bucket for people images
const GCS_BASE_URL = 'https://storage.googleapis.com/gcr-assets-fadharpra/people';
---

<div
  class="mx-2 mt-2 rounded-lg px-4 pb-12 pt-12 bg-light-card sm:px-6 md:px-4 lg:mx-0 lg:mt-0 lg:px-16 lg:pb-0 dark:bg-dark-card"
>
  <h3 class="section-heading pb-6">Hosted By</h3>

  {
    hosts.map((host) => (
      <div class="mb-4 flex items-center">
        <img
          class="mr-4 h-12 w-12 rounded-lg"
          src={`${GCS_BASE_URL}/${host.img}`}
          alt={host.name}
          width="48"
          height="48"
          loading="lazy"
          decoding="async"
        />
        {host.name}
      </div>
    ))
  }
</div>
